<a href="javascript: (function () { var jsCode = document.createElement('script'); jsCode.setAttribute('src', '<%=@url_path%>/nidhi/script.js'); document.body.appendChild(jsCode); }());">bookmarklet</a>
